@mixin display(){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

$setColor:rgba(37, 37, 37, 0.815);
$setColorIntro:rgba(130, 130, 130, 0.6);

.momentList{
    width: 70%;
    @include display();
    .momentItem{
        width: 100%;
        @include display();
        p{
            color: $setColor;
            width: 100%;
        }
        .pics{
            flex:0 7 auto;
            margin: 2em;
            @include display();
            justify-content: space-around;
            .pic{
                flex:0 1 auto;
                margin: 2.5%;
                width: 30%;
                height: 15em;
            }
        }
        .picsIntroduction{
            flex:0 3 auto;
            @include display();
            h3{
                width: 100%;
                color: $setColor;
                font-weight: bold;
            }
            ul{
                @include display();
                width: 100%;
                li{
                    width: 100%;
                    color: $setColorIntro;
                }
            }
        }
    }
}