@mixin hover(){
    border-color:DarkCyan;
    color:DarkCyan
}

$setColor:rgba(130, 130, 130, 0.6);

.filters{
    border-top:0.2em solid $setColor;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    p{
        font-weight: bolder;
        color: $setColor;
        width: 100%;
    }
    .filter{
        color: $setColor;
        border:0.1em solid $setColor;
        border-radius:1em;
        &hover{ @include hover()}
    }
}
